.streamlight-app[theme='dark']
    background background-color-dark
    color text-color-dark

    .input-box
        color text-color-dark

    label, text
        color text-color-dark

    .cursor
        background text-color-dark

    .input-placeholder
        color text-color-dark-selected

    .streamlight-results.active
        border-top solid 1px text-color-dark-selected

    .result
        color text-color-dark

    input
        &::selection
            background background-color-dark
            color text-color-dark-selected

    .input-text-m
        color text-color-dark !important
