.streamlight-app[theme='light']
    background background-color-light
    color text-color-light

    .input-box
        color text-color-light

    label, text
        color text-color-light

    .cursor
        background text-color-light

    .input-placeholder
        color text-color-light-selected

    .streamlight-results.active
        border-top solid 1px text-color-light-selected

    .result
        color text-color-light

    input
        &::selection
            background background-color-light
            color text-color-light-selected

    .input-text-m
        color text-color-light !important
