.list
    display block
    width 150px
    list-style-type: none

    .list-item
        display block
        width 100%
        font-size font-size-normal
        font-family font-family-default
        cursor default

        &:hover
            color text-color-highlight

        &.selected
            color text-color-highlight
