text
    display inline-block
    font-size font-size-normal
    font-family font-family-default
    cursor default
    transition .2s

.text-subtle
    color text-color-subtle !important

.text-highlight
    color text-color-highlight !important

.text-success
    color text-color-success !important

.text-warning
    color text-color-warning !important

.text-error
    color text-color-error !important
