// Streamlight UI

background-color-light = #e6e5e2
background-color-dark = #303034
background-color-active = #30b0d2

text-color-subtle = #aaaaaa
text-color-highlight = #30b0d2
text-color-success = #29b905
text-color-warning = #dfd600
text-color-error = #dd2020

text-color-light = #000
text-color-dark = #fff
text-color-light-selected = #aba4a2
text-color-dark-selected = #b3b4ae
text-background-color-light = background-color-light
text-background-color-dark = background-color-dark

app-shadow-color = rgba(0, 0, 0, .5)

font-size-normal = 14px
font-size-small = 13px
font-size-medium = 16px
font-size-large = 18px
font-size-xlarge = 22px

font-family-default = 'Roboto'

font-path = "../../resources/fonts"

icomoon-font-path ?= font-path
icon-add = "\e145"
icon-add_circle = "\e147"
icon-control_point = "\e3ba"
icon-build = "\e869"
icon-cached = "\e86a"
icon-close = "\e5cd"
icon-photo_library = "\e413"
icon-mode_edit = "\e254"
icon-create_new_folder = "\e2cc"
icon-delete = "\e872"
icon-desktop_mac = "\e30b"
icon-folder = "\e2c7"
icon-folder_open = "\e2c8"
icon-keyboard_arrow_down = "\e313"
icon-keyboard_arrow_left = "\e314"
icon-keyboard_arrow_right = "\e315"
icon-keyboard_arrow_up = "\e316"
icon-power_settings_new = "\e8ac"
icon-search = "\e8b6"
icon-settings = "\e8b8"
