add-program-panel.add-programs.add-command-result.command-panel
    drag-drop-panel.drag-drop-panel
        icon.icon-add
        label.label Drop the apps you wanna add to Streamlight here!
    modal.modal.modal-new-program-name
        input(type='text' placeholder='Custom name for the program.')
        btn.btn.close-modal-btn.icon-close
        btn.btn.submit-name-btn Add
        
