add-program-panel.add-panel.add-command-result.command-panel
    streamlight-panel.drop-panel
        icon.icon-add
        text Drop the apps you wanna add to Streamlight here!
    streamlight-panel.modal.add-modal
        input(type='text' placeholder='Custom name for the program.').modal-input
        btn.btn.close-modal-btn.icon-close
        btn.btn.submit-name-btn Add
        
