quit-command-panel(command='application:quit').command-result.command-panel.quit-command-result Quit Streamlight
    
reload-command-panel(command='application:reload').command-result.command-panel.reload-command-result Reload Streamlight

reset-command-panel(command='application:reset').command-result.command-panel.reset-command-result Reset Streamlight defaults
    
center-command-panel(command='window:center').command-result.command-panel.center-command-result Center Streamlight on screen
    
lock-command-panel(command='window:lock').command-result.command-panel.lock-command-result Lock Streamlight position
    
unlock-command-panel(command='window:unlock').command-result.command-panel.unlock-command-result Unlock Streamlight position

google-command-panel(command='search:google').command-result.command-panel.google-command-result Google something

ecalc-command-panel(command='calc:eval').command-result.command-panel.ecalc-command-result
