streamlight-panel(command='application:quit').command-result.command-panel.quit-command-result Quit Streamlight
    
streamlight-panel(command='application:reload').command-result.command-panel.reload-command-result Reload Streamlight

streamlight-panel(command='application:reset').command-result.command-panel.reset-command-result Reset Streamlight defaults
    
streamlight-panel(command='window:center').command-result.command-panel.center-command-result Center Streamlight on screen
    
streamlight-panel(command='window:lock').command-result.command-panel.lock-command-result Lock Streamlight position
    
streamlight-panel(command='window:unlock').command-result.command-panel.unlock-command-result Unlock Streamlight position

streamlight-panel(command='google:search').command-result.command-panel.google-command-result Google something

streamlight-panel(command='devtools:toggle').command-result.command-panel.devtools-command-result Toggle Developer Tools

streamlight-panel(command='calc:eval').command-result.command-panel.ecalc-command-result
