streamlight-panel.commands-panel.commands-command-result.command-panel
    text.panel-title Commands
    
    div.field-large.toggle-streamlight-command
        text.text-highlight Command or Control + Space
        text Toggles Streamlight.
        
    div.field-large.add-command
        text.text-highlight add
        text Adds an app to Streamlight.
        
    div.field-large.calc-command
        text.text-highlight calc
        text Displays a calculator.
    
    div.field-large.center-command
        text.text-highlight center (Command or Control + Shift + Space)
        text Restores Streamlight default position.
        
    div.field-large.commands-command
        text.text-highlight commands
        text Shows these commands.
        
    div.field-large.devtools-command
        text.text-highlight devtools
        text Toggles the developer tools.
        
    div.field-large.google-command
        text.text-highlight google
        text Googles something on Google (retundant, isn't it?)
        
    div.field-large.keymap-command
        text.text-highlight keymap
        text Shows all the keyboard shortcuts.
        
    div.field-large.lock-position-command
        text.text-highlight lock
        text Locks the position of the window.

    div.field-large.programs-command
        text.text-highlight programs
        text Shows the programs Streamlight should search.
        
    div.field-large.quit-command
        text.text-highlight quit
        text Quits Streamlight.
        
    div.field-large.reload-command
        text.text-highlight reload (Command or Control + Shift + R)
        text Reloads Streamlight.
        
    div.field-large.reset-command
        text.text-highlight reset
        text Restores Streamlight defaults.

    div.field-large.settings-command
        text.text-highlight settings
        text Shows Streamlight settings.
        
    div.field-large.unlock-position-command
        text.text-highlight unlock
        text Unlocks the position of the window.

    div.field-large.welcome-command
        text.text-highlight welcome
        text Shows the welcome guide.
