keymap-panel.keymap-panel.keymap-command-result.command-panel
    text.panel-title Keymap
    
    div.field.toggle-key
        text Toggle Streamlight
        input(type='text').input-text-m
        
    div.field.reload-key
        text Reload Streamlight
        input(type='text').input-text-m
            
    div.field.center-key
        text Center Streamlight
        input(type='text').input-text-m
