settings-panel.settings-panel.settings-command-result.command-panel
    text.panel-title Settings

    div.field.run-on-startup
        text Launch Streamlight when you start your computer.
        input-toggle.input-toggle.autorun-toggle-settings

    //- div.field.search-dir
    //-     label Search directory
    //-     btn.btn.search-dir-btn Select a folder
    //-     label.selected-search-dir ./programs

    //- field.field.toggle-streamlight-shortcut
    //-     label Toggle Streamlight hotkey
    //-     input(type='text')

    div.field.save-window-position
        text Save window position
        input-toggle.input-toggle.save-window-position-toggle

    div.field.autolang-selection
        text Detect language automatically
        input-toggle.input-toggle.autolang-toggle

    div.field.theme-selection
        slider-btn.slider-btn
            label.slider-btn-label.light-theme-btn Light theme
            label.slider-btn-label.dark-theme-btn Dark theme

    //- field.field.lang-selection.disabled.not-implemented
    //-     slider-btn.slider-btn
    //-         label.slider-btn-label.english-lang-btn English (English)
    //-         label.slider-btn-label.spanish-lang-btn Spanish (Español)
    //-         label.slider-btn-label.german-lang-btn German (Deutsch)
