welcome-guide.welcome-guide.welcome-command-result.command-panel
    label.title Welcome to Streamlight!

    field.toggle-streamlight-shortcut
        label Use
        label.hotkey Command or Control + Spacebar
        label to toggle Streamlight search bar.

    field.streamlight-commands-field
        label Type
        label.hotkey .commands
        label to open the command palette.

    field.theme-field
        slider-btn.slider-btn
            label.slider-btn-label.light-theme-btn Light theme
            label.slider-btn-label.dark-theme-btn Dark theme

    field.autorun-field
        label Run on system boot (If you want Streamlight not to open at system startup turn this off)
        switch-btn.autorun-toggle
