streamlight-panel.welcome-guide.welcome-command-result.command-panel
    text.panel-title Welcome to Streamlight!

    div.field.toggle-streamlight-shortcut
        text Use
        text.text-highlight Command or Control + Spacebar
        text to toggle Streamlight search bar.

    div.field.streamlight-commands-field
        text Type
        text.text-highlight commands
        text to open the command palette.
        
    div.field.autorun-field
        text Launch Streamlight when you start your computer.
        input-toggle.input-toggle.autorun-toggle

    div.field.theme-field
        slider-btn.slider-btn
            text.slider-btn-label.light-theme-btn Light theme
            text.slider-btn-label.dark-theme-btn Dark theme
