@import 'reset'
@import 'streamlight-ui/variables'
@import 'streamlight-ui/icons'
@import 'streamlight-ui/fonts'
@import 'streamlight-ui/light-theme'
@import 'streamlight-ui/dark-theme'
@import 'streamlight-ui/inputs'
@import 'streamlight-ui/text'
@import 'streamlight-ui/buttons'
@import 'streamlight-ui/panels'
@import 'streamlight-ui/lists'
@import 'streamlight-ui/modals'

@import 'streamlight-app'
@import 'streamlight-search'
@import 'streamlight-results'

@import 'add-panel'
@import 'welcome-panel'
@import 'settings-panel'
@import 'commands-panel'
@import 'keymap-panel'
@import 'command-results'

// @import 'ui-variables'
// @import 'icons'
// @import 'fonts'
//
// @import 'web-components'
// @import 'streamlight-app'
// @import 'streamlight-search'
// @import 'streamlight-results'
// @import 'command-results-elements'
// @import 'welcome-guide'
// @import 'settings-panel'
// @import 'commands-panel'
// @import 'programs-panel'
