.welcome-guide
    display none

    .slider-btn
        display block
        width 241px
        height 30px
        line-height 30px
        border-radius 5px
        box-shadow 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
        position relative
        overflow hidden
        margin: 20px 0

        text
            width 100px
            padding 0 10px
            cursor pointer
            text-align center
            color #000
            border-right 1px solid text-color-dark-selected
            position absolute
            transition ease-in-out .2s

            &.active
                background background-color-active
                color #fff

            &:last-child
                border none
                left 121px

        .light-theme-btn
            color #fff
